# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.geojson text eol=lf
*.csv text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ini text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Declare binary files
*.parquet binary
*.grd binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
